.correct_window {
    background-color: rgb(215, 249, 164);
}

.wrong_window {
    background-color: rgb(255, 125, 125);

}

.empty_window {
    background-color: rgb(205, 191, 255);
}

#message_container {
    width: 100%;
    max-width:440px;
    text-align: center;
    border: 1px solid black;
    padding: 14px 18px 14px 18px;

    border-radius: 8px;
    color:rgba(32, 32, 32, 0.737)
}

#message_text {
    margin: 0 0 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 510px) {
    #message_container {
        width: 100%;
        max-width: 400px;
        text-align: center;
        padding: 14px 19px 14px 19px;
        
        border: 1px solid black;
        border-radius: 8px;
        color:rgba(32, 32, 32, 0.737)
    }
}
